.w1000{
	width: 1000px;	
}
.center{
	margin: 0 auto;
}

/*顶部头信息--开始*/
.header_top{
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	/*background-color: red;*/
}
.header_top .text{
	color: #b2b2b2;
}

.header_top .tell{
	float: right;
	position: relative;
}

.header_top .tell .bgc{
	background: url("../images/tel.png") no-repeat;
	width: 21px;
	height: 32px;
	position: absolute;
	left: -25px;
	top: 2px;
}

.header_top .tell .t{
	color:#00298f;
	font-size: 15px;
}

.header_top .tell .n{
	color:#0c2e88;
	font-size: 16px;
	font-weight: bold;
}
/*顶部头信息--结束*/


/*LOGO及咨询平台--开始*/
.header{
	background-color: #00489c;
	height: 100px;
	width: 100%;
}

.header .logo{
	float: left;
	padding-top: 28.5px;
}

.header .sharf{
	float: right;
    margin-left: 200px;
}

.header .sharf .consult{
	height: 60px;
	line-height: 60px;
	position: relative;
}

.header .sharf .consult span{
	color: #e1e6ee;
	font-size: 16px;
}

.header .sharf .consult .qq{
	background: url("../images/sharp.png") no-repeat -2px 0px;
	width: 23px;
	height: 23px;
	position: absolute;
	top: 20px;
	left: 115px;
}
.header .sharf .consult .qq:hover{
	background: url("../images/sharp_hover.png") no-repeat -2px 0px;
}

.header .sharf .consult .wechat{
	background: url("../images/sharp.png") no-repeat -35px 0px;
	width: 23px;
	height: 23px;
	position: absolute;
	top: 20px;
	left: 145px;
}
.header .sharf .consult .wechat:hover{
	background: url("../images/sharp_hover.png") no-repeat -35px 0px;
}

.header .sharf .consult .weibo{
	background: url("../images/sharp.png") no-repeat -68px 0px;
	width: 23px;
	height: 23px;
	position: absolute;
	top: 20px;
	left: 175px;
}
.header .sharf .consult .weibo:hover{
	background: url("../images/sharp_hover.png") no-repeat -68px 0px;
}

.header .sharf .search{
	position: relative;

}

.header .sharf .search .search-keywords{
	border:0;
	outline:none;
    border-radius: 12px;
    height: 25px;
    width: 200px;
    padding-left: 5px;
}

.header .sharf .search .search-submit{
	background: url("../images/header_search.png") no-repeat;
    width: 19px;
    height: 22px;
    border: none;
    position: absolute;
    top: 2px;
    right: 5px;
    border-radius: 10px;
    cursor: pointer;
}
/*LOGO及咨询平台--结束*/

/*菜单栏目--开始*/
.menu{
	height: 54px;
}

.menu .menu-title{
	display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.menu .menu-title li{
	display: block;
    float: left;
    width: 90px;
    margin-right: 20px;
    cursor: pointer;
}

.menu .menu-title li a{
	color: #024aa7;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 1px;
}

.menu .menu-title li:hover,.menu .menu-title li:active{
	border-bottom: 4px solid #024aa7;
}

.menu .drop-down{
	float: right;
	width: 150px;
	height: 54px;
	line-height: 54px;
	background-color: #0386d6;
	position: relative;
	cursor: pointer;
}

.menu .drop-down .ico{
	background: url("../images/menu_01.png") no-repeat;
	width: 26px;
	height: 26px;
	position: absolute;
    top: 15px;
    left: 20px;
}

.menu .drop-down .text{
	padding-left: 58px;
	color: white;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 2px;
}

.menu .drop-down .dd-menu{
	background-color: #0386d6;
	width: 150px;
	z-index: 100;
	position: absolute;
	display: none;
}

.menu .drop-down .dd-menu ul li{
	height: 40px;
    line-height: 40px;
    font-weight: 600;
    padding-left: 23px;
    color: white;
}

.menu .drop-down .dd-menu ul li:hover{
	background-color: white;
	color: #0386d6;
}
/*菜单栏目--结束*/


/*大横幅图片轮播区域--开始*/
.banner .fullSlide{
	width:100%;
	position:relative;
	height:350px;
	background:#000;
}
.banner .fullSlide .bd{
	margin:0 auto;
	position:relative;
	z-index:0;
	overflow:hidden;
}
.banner .fullSlide .bd ul{
	width:100% !important;
}
.banner .fullSlide .bd li{
	width:100% !important;
	height:350px;
	overflow:hidden;
	text-align:center;
}
.banner .fullSlide .bd li a{
	display:block;
	height:350px;
}
.banner .fullSlide .bd li img{
	position: absolute;
	top:0;
}
.banner .fullSlide .hd{
	width:100%;
	position:absolute;
	z-index:1;
	bottom:0;
	left:0;
	height:30px;
	line-height:30px;
}
.banner .fullSlide .hd ul{
	text-align:center;
}
.banner .fullSlide .hd ul li{
	cursor:pointer;
	display:inline-block;
	*display:inline;
	zoom:1;
	width:10px;
	height:10px;
	border-radius: 5px;
	margin-left:5px;
	margin-right:5px;
	overflow:hidden;
	background:#9facc0;
	filter:alpha(opacity=50);
	opacity:0.8;
	line-height:999px;
}
.banner .fullSlide .hd ul .on{
	background:#6ebc1a;
}
.banner .fullSlide .prev,.fullSlide .next{
	display:block;
	position:absolute;
	z-index:1;
	top:155px;
	left:15%;
	z-index:1;
	width:41px;
	height:41px;
	border-radius: 4px;
	background:url(../images/eye_152.png) 0px 0px no-repeat;
	cursor:pointer;
	filter:alpha(opacity=50);
	opacity:0.8;
	display:none;
}
.banner .fullSlide .next{
	left:auto;
	right:15%;
	background-position:-41px 0px;
}
.banner .fullSlide .prev:hover{
	background:url(../images/eye_153.png) 0px 0px no-repeat;
}
.banner .fullSlide .next:hover{
	background:url(../images/eye_153.png) -41px 0px no-repeat;
}
/*大横幅图片轮播区域--结束*/


/*小横幅图片轮播--开始*/
.small_banner{
	height: 330px;
	width: 100%;
	background-color: #f4f9ff;
}

.small_banner .smallSlide{
	width:640px;
	position:relative;
	height:330px;
	background:#000;
}
.small_banner .smallSlide .bd{
	margin:0 auto;
	position:relative;
	z-index:0;
	overflow:hidden;
}
.small_banner .smallSlide .bd ul{
	width:640px;
}
.small_banner .smallSlide .bd li{
	width:640px;
	height:330px;
	overflow:hidden;
	text-align:center;
}
.small_banner .smallSlide .bd li a{
	display:block;
	height:330px;
}
.small_banner .smallSlide .hd{
	position:absolute;
	z-index:1;
	bottom:20px;
	left:60px;
}
.small_banner .smallSlide .hd ul{
	text-align:center;
}
.small_banner .smallSlide .hd ul li{
	cursor:pointer;
	display:inline-block;
	*display:inline;
	zoom:1;
	width:10px;
	height:10px;
	border-radius: 5px;
	margin-left:5px;
	margin-right:5px;
	overflow:hidden;
	background:#9facc0;
	filter:alpha(opacity=50);
	opacity:0.8;
	line-height:999px;
}
.small_banner .smallSlide .hd ul .on{
	background:#6ebc1a;
}
.small_banner .smallSlide .prev,.smallSlide .next{
	display:block;
	position:absolute;
	z-index:1;
	top:142px;
	left:1%;
	z-index:1;
	width:30px;
	height:48px;
	/*border-radius: 4px;*/
	background:url(../images/eye_149.png) 0px 0px no-repeat;
	cursor:pointer;
	filter:alpha(opacity=50);
	opacity:0.8;
	/*display:none;*/
}
.small_banner .smallSlide .next{
	left:auto;
	right:1%;
	background-position:-30px 0px;
}

.small_banner .smallSlide .prev:hover{
	background:url(../images/eye_150.png) 0px 0px no-repeat;
}

.small_banner .smallSlide .next:hover{
	background:url(../images/eye_150.png) -30px 0px no-repeat;
}
/*小横幅图片轮播--结束*/


/*爱尔眼科医院信息、挂号信息、医院动态*/

.information{
	height: 340px;
}

/*医院信息--开始*/
.information .info-intro{
	float: left;
	width: 640px;
	height: 340px;
	/*background-color: gray;*/
}

.information .info-intro .info-box{
	/*border: 1px solid red;*/
	width: 155px;
	text-align: center;
	margin-top: 25px;
	margin-right: 5px;
	float: left;
}
.information .info-intro .info-box .img-box{
	border: 1px solid #cccccc;
	width: 114px;
	height: 80px;
	margin: 0 auto;
	border-radius: 2px;
}


.information .info-intro .info-box p{
	/*text-align: center;*/
	font-weight: 500;
	font-size: 13px;
    margin-top: 5px;
    text-shadow: 0px 1px 1px #a9a9a9;
}

.information .info-intro .info-box .p1{
	margin-top: 10px;
	color: #0b55ab;
	font-weight: bold;
	font-size: 16px;
}
/*医院信息--结束*/

.information .info-news{
	float: right;
	margin-top: -340px;
	width: 360px;
	height: 680px;
	position: relative;
}

/*门诊时间及挂号排班信息--开始*/
.information .info-news .guahao{
	background-color: #6ebc1a;
	height: 180px;
	position: relative;
}

.information .info-news .guahao .guahao-time{
	position: absolute;
	top: 20px;
	left: 20px;
	width: 320px;
	height: 50px;
	line-height: 50px;
	border: 1px solid white; 
}

.information .info-news .guahao .guahao-time .ico{
	position: absolute;
    top: 14px;
    left: 30px;
    display: block;
    width: 21px;
    height: 23px;
    background: url("../images/guahao_icon.png") no-repeat;
}

.information .info-news .guahao .guahao-time .text{
	color: white;
	padding-left: 60px;
}

.information .info-news .guahao .guahao-time .text span{
	font-weight: bold;
}

.information .info-news .guahao .guahao-intro{
	position: absolute;
	bottom: 20px;
	left: 10px;
}

.information .info-news .guahao .guahao-intro .intro{
	float: left;
	margin-left: 4px;
	/*border: 1px solid red;*/
	width: 80px;
	text-align: center;
	cursor: pointer;
}

.information .info-news .guahao .guahao-intro .intro .img{
	display: block;
	margin: 0 auto;
	width: 45px;
	height: 45px;
}

.information .info-news .guahao .guahao-intro .intro .img1{
	background: url("../images/gh_01.png") no-repeat;
}

.information .info-news .guahao .guahao-intro .intro .img2{
	background: url("../images/gh_02.png") no-repeat;
}

.information .info-news .guahao .guahao-intro .intro .img3{
	background: url("../images/gh_03.png") no-repeat;
}

.information .info-news .guahao .guahao-intro .intro .img4{
	background: url("../images/gh_04.png") no-repeat;
}

.information .info-news .guahao .guahao-intro .intro:hover{
	color: white;
}

.information .info-news .guahao .guahao-intro .intro:hover .img1{
	background: url("../images/gh_01_hover.png") no-repeat;
}

.information .info-news .guahao .guahao-intro .intro:hover .img2{
	background: url("../images/gh_02_hover.png") no-repeat;
}

.information .info-news .guahao .guahao-intro .intro:hover .img3{
	background: url("../images/gh_03_hover.png") no-repeat;
}

.information .info-news .guahao .guahao-intro .intro:hover .img4{
	background: url("../images/gh_04_hover.png") no-repeat;
}
/*门诊时间及挂号排班信息--结束*/

/*医院动态--开始*/
.information .info-news .hospital-news{
	background-color: #63c5f4;
	height: 500px;
}

.information .info-news .hospital-news .h-news{
	width: 320px;
	margin: 0 auto;
    padding-top: 20px;
}

.information .info-news .hospital-news .h-news .c{
	font-size: 25px;
	font-family: 宋体;
	color: #1c8eaf;
	font-weight: 600;
}

.information .info-news .hospital-news .h-news .e{
	font-size: 12px;
	font-family: -webkit-pictograph;
	text-shadow: 1px 1px 5px #4aacda;
    opacity: 0.3;
    letter-spacing: 0.5px;
}

.information .info-news .hospital-news .h-news .news{
	margin-top: 15px;
}

.information .info-news .hospital-news .h-news .news .news-text{
	float: right;
	width: 170px;
}

.information .info-news .hospital-news .h-news .news .news-text .n-t-t{
	color: #033b93;
    font-weight: 600;
}

.information .info-news .hospital-news .h-news .news .news-text .n-t-a{
	margin-top: 20px;
    opacity: 0.5;
}
.information .info-news .hospital-news .h-news .news .news-text .n-t-a a{
	color: blue;
}
.information .info-news .hospital-news .h-news .news .news-text .n-t-a a:hover{
	text-decoration: underline;
}


.information .info-news .hospital-news .t-news{
	width: 320px;
    margin: 0 auto;
    border-top: 1px solid #51b3e0;
    margin-top: 20px;
}

.information .info-news .hospital-news .t-news p{
	margin-top: 10px;
}

.information .info-news .hospital-news .t-news .cate{
    color: #033b93;
    font-weight: 600;
}

.information .info-news .hospital-news .t-news .art{
	color: white;
	opacity: 0.8;
}
.information .info-news .hospital-news .t-news .art:hover{
	text-decoration: underline;
}
/*医院动态--结束*/

/*右侧咨询模块--开始*/
.information .info-news .right_module{
	width: 80px;
	height: 270px;
	position: absolute;
    left: 370px;
    bottom: 160px;
	/*border:1px solid red;*/
}

.information .info-news .right_module .zjzx{
	width: 80px;
	height: 90px;
	background-color: #ed7212;
	text-align: center;
	position: relative;
}

.information .info-news .right_module .zjzx span{
	background: url("../images/slide_01.png") no-repeat;
    width: 40px;
    height: 38px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.information .info-news .right_module p{
	padding-top: 50px;
	color: white;
    font-size: 15px;
}

.information .info-news .right_module .zxzx{
	width: 80px;
	height: 90px;
	background-color: #0386d6;
	text-align: center;
	position: relative;
}

.information .info-news .right_module .zxzx span{
	background: url("../images/slide_02.png") no-repeat;
    width: 40px;
    height: 38px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.information .info-news .right_module .lydh{
	width: 80px;
	height: 90px;
	background-color: #404d5e;
	text-align: center;
	position: relative;
}

.information .info-news .right_module .lydh span{
	background: url("../images/slide_03.png") no-repeat;
    width: 40px;
    height: 38px;
    position: absolute;
    top: 15px;
    left: 20px;
}
/*右侧咨询模块--结束*/

/*爱尔眼科医院信息、挂号信息、医院动态*/


/*联系我们、附近医院、在线支付模块--开始*/
.three_area{
	margin-top: 20px;
	height: 170px;
	/*border: 1px solid red;*/
}

.three_area .plate-info{
	width: 32.3%;
	float: left;
	color: white;
	height: 170px;
}

.three_area .info1{
	background-color: #43b9f6;
}

.three_area .info2{
	background-color: #6686ff;
	margin-left: 15px;
}

.three_area .info3{
	background-color: #9878ff;
	margin-left: 15px;
}

.three_area .plate-info p{
	padding-left: 35px;
    padding-right: 35px;
}

.three_area .plate-info .p1{
	font-size: 12px;
	margin-top: 20px;
	opacity: 0.8;
}

.three_area .plate-info .p2{
	    margin-top: 5px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-shadow: 1px 0px 1px;
    opacity: 0.9;
}

.three_area .plate-info .p3{
	margin-top: 15px;
    margin-bottom: 15px;
    opacity: 0.6;
    font-size: 13px;
}

.three_area .plate-info a{
	color: white;
    border-bottom: 1px solid white;
    font-size: 12px;
}
/*联系我们、附近医院、在线支付模块--结束*/

/*诊疗项目--开始*/
.clinic-project{
	height: 660px;
	width: 100%;
	background: url("../images/clinic-project.jpg");
	margin-top: 20px;
}

.clinic-project .clinic-title{
	font-family: 宋体;
	font-weight: bold;
	text-align: center;
	height:80px;
}
.clinic-project .clinic-title .p1{
	font-size: 30px;
	padding-top: 20px;
	color: #ffffff;
}
.clinic-project .clinic-title .p2{
	font-size: 12px;
	padding-top: 5px;
	letter-spacing: 2px;
	color: #ffffff;
}

.clinic-project .clinic-scroll .clinic-catalog{
	margin-top: 10px;
	height:100px;
}
.clinic-project .clinic-scroll .cli-high{
	float: left;
	margin-left: 1px;
	width:110px;
	height:100px;
	position: relative;
}
.clinic-project .clinic-scroll .cli-high:hover{
	background-color: #1d65a6;
	cursor: pointer;
	border-radius: 5px;
}
.clinic-project .clinic-scroll .cli-high img{
	margin-top: 11px;
}
.clinic-project .clinic-scroll .cli-high p{
	text-align: center;
	font-size: 14px;
	color: white;
}

.clinic-project .clinic-scroll .cli-high span{
	background: url("../images/hot.png") no-repeat;
	position: absolute;
	top: -7px;
	right: -14px;
	width: 28px;
	height: 17px;
}

.clinic-project .clinic-scroll .clinic-category{
	margin-top: 30px;
	height:400px;
	overflow: hidden;
}

.clinic-project .clinic-scroll .clinic-category .cli-content{
	height:400px;
}

.clinic-project .clinic-scroll .clinic-category .cli-content .cli-con-left{
	float: left;
	width:400px;
}

.clinic-project .clinic-scroll .clinic-category .cli-content .cli-con-right{
	float: right;
	width:600px;
	height:400px;
	background-color: white;
}
.clinic-project .clinic-scroll .clinic-category .cli-content .cli-con-right .right-box{
	padding: 44px 50px;
}
.clinic-project .clinic-scroll .clinic-category .cli-content .cli-con-right .right-box .c-t{
	font-size: 24px;
	font-weight: 500;
	color: #404d60;
}

.clinic-project .clinic-scroll .clinic-category .cli-content .cli-con-right .right-box .c-c{
	margin-top: 20px;
	font-size: 14px;
	line-height: 24px;
	color: #647088;
}

.clinic-project .clinic-scroll .clinic-category .cli-content .cli-con-right .right-box .first{
	margin-top: 10px;
}
.clinic-project .clinic-scroll .clinic-category .cli-content .cli-con-right .right-box .c-n{
	line-height:30px;
	color: #003493;
	font-size: 14px;
	position: relative;
	padding-left: 15px;
}

.clinic-project .clinic-scroll .clinic-category .cli-content .cli-con-right .right-box .c-n span{
	width:11px;
	height:11px;
	background: url("../images/point.png") no-repeat;
	position: absolute;
	left:0;
	top:10px;
}
.clinic-project .clinic-scroll .clinic-category .cli-content .cli-con-right .right-box .c-n a{
	color: #647088;
}
.clinic-project .clinic-scroll .clinic-category .cli-content .cli-con-right .right-box .c-n a:hover{
	color: #003493;
	text-decoration: underline;
}

.clinic-project .clinic-scroll .clinic-category .cli-content .cli-con-right .right-box .c-bottom{
	background-color: #fe824c;
	border-radius: 5px;
	text-align: center;
	width: 360px;
	height: 40px;
	margin-top: 20px;
	padding: 0 5px;

}

.clinic-project .clinic-scroll .clinic-category .cli-content .cli-con-right .right-box .c-bottom .sp1{
	font-size: 16px;
	height:40px;
	line-height: 40px;
	color: #a32c00;
	width:90px;
	float: left;
}

.clinic-project .clinic-scroll .clinic-category .cli-content .cli-con-right .right-box .c-bottom .sp1:hover{
	background-color: #dc5107;
	cursor: pointer;
	color: white;
}
/*诊疗项目--结束*/



/*专家团队--开始*/
.expert-team{
	width:100%;
	background-color: #ffffff;
	height:600px;
}
.expert-team .expert-title{
	font-family: 宋体;
	font-weight: bold;
	text-align: center;
	height:80px;
}
.expert-team .expert-title .p1{
	font-size: 30px;
	padding-top: 20px;
	color: #404D60;
}
.expert-team .expert-title .p2{
	font-size: 12px;
	padding-top: 5px;
	letter-spacing: 3px;
	color: #265500;
}

.expert-team .expert-description{
	height:470px;
	margin-top: 20px;
}
.expert-team .expert-content{
	width:236px;
	float: left;
	margin: 0 7px;
}
.expert-team .expert-content .p-t{
	font-size: 18px;
	color: #3e4e5d;
	font-weight: 600;
	margin-top: 10px;
	line-height: 36px;
}
.expert-team .expert-content .p-t span{
	color: #003493;
}
.expert-team .expert-content .p-h{
	font-size: 14px;
	line-height:18px;
	color: #0086d8;
}

.expert-team .expert-content .p-d{
	margin-top: 20px;
	color: #3e4e5d;
	line-height: 24px;
}

.expert-team .expert-content .p-sharp{
	position: relative;
	border: 1px solid gray;
	height:40px;
	width:120px;
	margin-top: 20px;
}
.expert-team .expert-content .p-sharp .wechat{
	width:40px;
	height:40px;
	/*border: 1px solid gray;*/
	position: absolute;
	top:0;
	left:0;
	background: url("../images/expert_sharp.png") no-repeat;
}
.expert-team .expert-content .p-sharp .wechat:hover{
	background: url("../images/expert_sharp_hover.png") no-repeat;
}

.expert-team .expert-content .p-sharp .msg{
	width:40px;
	height:40px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	position: absolute;
	top:0;
	left:40px;
	background: url("../images/expert_sharp.png") no-repeat -40px 0px;
}
.expert-team .expert-content .p-sharp .msg:hover{
	background: url("../images/expert_sharp_hover.png") no-repeat -40px 0px;
}

.expert-team .expert-content .p-sharp .xinxi{
	width:40px;
	height:40px;
	position: absolute;
	top:0;
	left:80px;
	background: url("../images/expert_sharp.png") no-repeat -80px 0px;
}
.expert-team .expert-content .p-sharp .xinxi:hover{
	background: url("../images/expert_sharp_hover.png") no-repeat -80px 0px;
}

/*专家团队--结束*/

/*诊疗设备--开始*/
.equipment{
	width:100%;
	height:610px;
	background-color: #edf6ff;
}
.equipment .equipment-title{
	font-family: 宋体;
	font-weight: bold;
	text-align: center;
	height:80px;
}
.equipment .equipment-title .p1{
	font-size: 30px;
	padding-top: 20px;
	color: #404d60;
}
.equipment .equipment-title .p2{
	font-size: 12px;
	padding-top: 5px;
	letter-spacing: 1px;
	color: #265500;
}
.equipment .equipment-area{
	height:530px;
}

/*左侧*/
.equipment-left{
	width:620px;
	height:530px;
	float: left;

}
.equipment-left .left-detail{
	position: relative;

}
.equipment-left .left-detail .text-bg{
	width: 470px;
	height: 310px;
	position: absolute;
	left: 0;
	top: 90px;
	background-color: #404d5f;
}
.equipment-left .left-detail .text-bg .p-t{
	margin-top: 30px;
	font-size: 22px;
	line-height: 36px;
	color: #ffffff;
	text-align: center;
}

.equipment-left .left-detail .text-bg .p-c{
	margin-top: 20px;
	font-size: 14px;
	line-height: 28px;
	color: #ffffff;
	padding: 0 35px;
	text-align: left;
}

.equipment-left .left-detail .text-bg .p-d{
	width: 100px;
	height: 35px;
	line-height: 35px;
	border-radius: 5px;
	background-color: #fc8253;
	display: block;
	text-align: center;
	color: white;
	margin-left: 35px;
	margin-top: 20px;
}


/*左侧轮播CSS*/
.equipment-left .fullSlide{
	width:620px;
	position:relative;
	height:530px;
	/*background:#000;*/
}
.equipment-left .fullSlide .bd{
	margin:0 auto;
	position:relative;
	z-index:0;
	overflow:hidden;
}
.equipment-left .fullSlide .bd ul{
	width:620px!important;
}
.equipment-left .fullSlide .bd li{
	width:620px!important;
	height:530px;
	overflow:hidden;
	text-align:center;
}
/*.full-scroll .fullSlide .bd li a{*/
	/*display:block;*/
	/*height:300px;*/
/*}*/
.equipment-left .fullSlide .hd{
	width:620px;
	position:absolute;
	z-index:1;
	bottom:50px;
	left:30px;
	height:20px;
	line-height:20px;
}
.equipment-left .fullSlide .hd ul{
	text-align:center;
}
.equipment-left .fullSlide .hd ul li{
	cursor:pointer;
	display:inline-block;
	*display:inline;
	zoom:1;
	width:10px;
	height:10px;
	border-radius: 5px;
	margin-left:5px;
	margin-right:5px;
	overflow:hidden;
	background:#9facc0;
	filter:alpha(opacity=50);
	opacity:0.8;
	line-height:999px;
}
.equipment-left .fullSlide .hd ul .on{
	background:#6ebc1a;
}
.equipment-left .fullSlide .prev,.equipment-left .fullSlide .next{
	display:block;
	position:absolute;
	z-index:1;
	top:155px;
	left:5px;
	z-index:1;
	width:41px;
	height:41px;
	border-radius: 4px;
	background:url(../images/eye_152.png) 0px 0px no-repeat;
	cursor:pointer;
	filter:alpha(opacity=50);
	opacity:0.8;
	display:none;
}
.equipment-left .fullSlide .next{
	left:auto;
	right:5px;
	background-position:-41px 0px;
}
.equipment-left .fullSlide .prev:hover{
	background:url(../images/eye_153.png) 0px 0px no-repeat;
}
.equipment-left .fullSlide .next:hover{
	background:url(../images/eye_153.png) -41px 0px no-repeat;
}


/*右侧*/
.equipment-right{
	width:350px;
	height:530px;
	float: right;
}

.equipment-right .right-detail{
	width:350px;
	height:110px;
	border-radius: 5px;
	background-color: #ffffff;
	margin: 10px 0;
}
.equipment-right .right-detail .right-img{
	width:135px;
	height:110px;
	border-radius: 5px 0px 0px 5px;
	background-color: #cbdeec;
	float: left;
}
.equipment-right .right-detail .right-text{
	width:215px;
	height:110px;
	float: left;
}
.equipment-right .right-detail .right-text .r-t-t{
	color: #003493;
	font-size: 14px;
	line-height:20px;
	font-weight: 600;
	padding: 10px;
}
.equipment-right .right-detail .right-text .r-t-c{
	color: #3f4d60;
	font-size: 12px;
	line-height:20px;
	padding: 0 10px 0 10px;
}
.equipment-right .right-detail .right-text .r-t-c a{
	color: #6ebc1a;
}
.equipment-right .right-detail .right-text .r-t-c a:hover{
	text-decoration: underline;
}



/*诊疗设备--结束*/


/*院内环境--开始*/
.environment{
	width:100%;
	background-color: #ffffff;
	height:520px;
	margin-top: 30px;
}
.environment .environment-title{
	font-family: 宋体;
	font-weight: bold;
	text-align: center;
	height:80px;
}
.environment .environment-title .p1{
	font-size: 30px;
	padding-top: 20px;
	color: #404d60;
}
.environment .environment-title .p2{
	font-size: 12px;
	padding-top: 5px;
	letter-spacing: 1px;
	color: #265500;
}

.environment .environment-content{
	margin-top: 20px;
	height:435px;
}

.environment .environment-content .ec-left{
	float: left;
	width:480px;
}

.environment .environment-content .ec-text{
	position: relative;
	font-size: 18px;
	line-height: 40px;
	color: #404d60;
	padding-left: 20px;
}
.environment .environment-content .ec-text span{
	width:11px;
	height:11px;
	position: absolute;
	top:16px;
	left:0;
	background: url("../images/point.png") no-repeat;
}
.environment .environment-content .ec-right{
	float: right;
	width:480px;
}
.environment .environment-content .ec-right .ec-right-one{
	width:480px;
	height:195px;
}
.environment .environment-content .ec-right .ec-right-two{
	width:480px;
	height:195px;
	margin-top: 40px;
}
.environment .environment-content .ec-right .ec-right-d{
	float: left;
}
.environment .environment-content .ec-right .first{
	margin-right: 40px;
}

/*院内环境--结束*/


/*底部信息--开始*/
.footer{
	margin-top: 50px;
	width: 100%;
	background-color: #2b3648;
	height: 500px;
}

.footer .search{
	text-align: center;
	padding-top: 30px;
	/*border:1px solid red;*/
	height: 70px;
	
}
.footer .search .footer-form{
	position: relative;
    width: 348px;
    margin: 0 auto;
}
.footer .search .footer-keywords{
	font-family: Microsoft Yahei;
	font-size: 14px;
	border:1px solid #0a61be;
	outline:none;
    border-radius: 2px 0 0 2px;
    height: 38px;
    width: 230px;
    padding-left: 31px;
    background-color: #41516a;
	color: white;
}

.footer .search .footer-submit{
	background-color: #0a61be;
    width: 85px;
    height: 40px;
    border: none;
    border-radius: 0 2px 2px 0;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-family: Microsoft Yahei;
}

.footer .search .ico{
	width: 24px;
    height: 25px;
    background: url("../images/footer_search.png");
    position: absolute;
    left: 6px;
    top: 9px;
}

.footer .nav_con_code{
	margin-top: 20px;
	/*border:1px solid red;*/
	height: 260px;
}

/*便捷导航*/
.footer .nav_con_code .easy-navigation{
	width: 300px;
	height: 260px;
	float: left;
}

.footer .nav_con_code .common-title{
	color: white;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0.1px 0px 0.2px;
    opacity: 0.8;
    padding-bottom: 20px;
}

.footer .nav_con_code .easy-navigation .nav-text ul li{
	float: left;
    height: 40px;
    line-height: 40px;
    width: 90px;
    color: white;
    opacity: 0.4;
}

/*联系方式*/
.footer .nav_con_code .contact{
	width: 400px;
	height: 260px;
	float: left;
}

.footer .nav_con_code .contact .con-title{
	padding-left: 70px;
}

.footer .nav_con_code .contact .con-text{
	border-left: 1px solid #212c3e;
    border-right: 1px solid #212c3e;

    padding-left: 70px;
    height: 200px;
}

.footer .nav_con_code .contact .con-text .p1{
	position: relative;
	color: #506eac;
    font-size: 15px;
    opacity: 0.8;
    text-shadow: 0.1px 0px 0.1px;
    margin-top: 8px;
    margin-bottom: 2px;
    padding-left: 50px;
}

.footer .nav_con_code .contact .con-text .p2{
	color: #6db928;
    font-size: 23px;
    text-shadow: 0.4px 0px 1px;
    padding-left: 50px;
}

.footer .nav_con_code .contact .con-text .p3{
	margin-top: 30px;
}

.footer .nav_con_code .contact .con-text .icon1{
	width: 26px;
	height: 30px;
	background: url("../images/footer_ico.png") 0px 0px no-repeat;
	position: absolute;
	top: 0px;
	left: 0px;
}

.footer .nav_con_code .contact .con-text .icon2{
	width: 26px;
	height: 30px;
	background: url("../images/footer_ico.png") 0px -30px no-repeat;
	position: absolute;
	top: 0px;
	left: 0px;
}

.footer .nav_con_code .contact .con-text .icon3{
	width: 26px;
	height: 30px;
	background: url("../images/footer_ico.png") 0px -60px no-repeat;
	position: absolute;
	bottom: -5px;
	left: 0px;
}

/*手机访问*/
.footer .nav_con_code .mobile{
	width: 300px;
	height: 260px;
    float: left;
    text-align: right;
}

.footer .nav_con_code .mobile .mo-title{
	padding-right: 5px;
}

.footer .nav_con_code .mobile img{
	margin-top: 12px;
}

.footer .nav_con_code .mobile .mo-text{
	font-size: 15px;
    margin-top: 20px;
    color: white;
    opacity: 0.4;
}


/*底部备案信息*/
.footer .archival{
	text-align: center;
}

.footer .archival .p1{
	color: #506eac;
    font-size: 15px;
    opacity: 0.8;
    text-shadow: 0.1px 0px 0.1px;
    margin-top: 30px;
}
.footer .archival .p2{
	margin-top: 10px;
    color: white;
    opacity: 0.4;
}
/*底部信息--结束*/


